<!-- detail -->
<div class="">
    <div class="rounded-2xl bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 p-1 shadow-xl">
        <a class="block rounded-xl bg-white p-4 sm:p-6 lg:p-8 no-underline">
            <div class="mt-16 mb-10">
                <h3 class="text-lg font-bold text-gray-900 sm:text-xl no-underline">
                    {{product.name}}
                </h3>
                <p class="mt-2 text-sm text-red-500 no-underline">
                    {{product.price}}
                </p>
                <p class="mt-2 text-sm text-gray-500 no-underline">
                    {{product.desc}}
                </p>
            </div>
            <a routerLink="">
                <span class="btn btn-outline-success">
                    Product
                </span>
            </a>
        </a>
    </div>
</div>